'menu': [
  {
    label: '&Archivo'
    submenu: [
      { label: 'Nueva &Ventana', command: 'application:new-window' }
      { label: '&Nuevo Archivo', command: 'application:new-file' }
      { label: '&Abrir Archivo…', command: 'application:open-file' }
      { label: 'Abrir Carpeta…', command: 'application:open-folder' }
      { label: 'Agregar Carpeta De Poroyecto…', command: 'application:add-project-folder' }
      {
        label: 'Reopen Project',
        submenu: [
          { label: 'Limpiar Historial De Poroyecto', command: 'application:clear-project-history' }
          { type: 'separator' }
        ]
      }
      { label: 'Reabrir Ultimo &Artículo', command: 'pane:reopen-closed-item' }
      { type: 'separator' }
      { label: '&Guardar', command: 'core:save' }
      { label: 'Guardar &Como…', command: 'core:save-as' }
      { label: 'Guardar T&odo', command: 'window:save-all' }
      { type: 'separator' }
      { label: '&Cerrar pestaña', command: 'core:close' }
      { label: 'Cerrar el &panel', command: 'pane:close' }
      { label: 'Cerrar Ventana', command: 'window:close' }
      { type: 'separator' }
      { label: 'Salir', command: 'application:quit' }
    ]
  }

  {
    label: '&Editar'
    submenu: [
      { label: '&Deshacer', command: 'core:undo' }
      { label: '&Rehacer', command: 'core:redo' }
      { type: 'separator' }
      { label: '&Cortar', command: 'core:cut' }
      { label: 'C&opiar', command: 'core:copy' }
      { label: 'Copiar Ruta', command: 'editor:copy-path' }
      { label: '&Pegar', command: 'core:paste' }
      { label: 'Pegar Sin Reformateado', command: 'editor:paste-without-reformatting' }
      { label: 'Seleccionar todo', command: 'core:select-all' }
      { type: 'separator' }
      { label: '&Alternar comentarios', command: 'editor:toggle-line-comments' }
      {
        label: 'Lineas',
        submenu: [
          { label: '&Sangria', command: 'editor:indent-selected-rows' }
          { label: '&Outdent', command: 'editor:outdent-selected-rows' }
          { label: '&Sangria automática', command: 'editor:auto-indent' }
          { type: 'separator' }
          { label: 'Mover Linea Hacia Arriba', command: 'editor:move-line-up' }
          { label: 'Mover línea hacia abajo', command: 'editor:move-line-down' }
          { label: 'Duplicar Linea', command: 'editor:duplicate-lines' }
          { label: 'Eliminar Linea', command: 'editor:delete-line' }
          { label: '&Unir Lineas', command: 'editor:join-lines' }
        ]
      }
      {
        label: 'Columnas',
        submenu: [
          { label: 'Mover Selección A La Izquierda', command: 'editor:move-selection-left' }
          { label: 'Mover Selección A La Derecha', command: 'editor:move-selection-right' }
        ]
      }
      {
        label: 'Texto',
        submenu: [
          { label: '&Mayúsculas', command: 'editor:upper-case' }
          { label: '&Minúscula', command: 'editor:lower-case' }
          { type: 'separator' }
          { label: 'Borrar hasta el final de la Palabra', command: 'editor:delete-to-end-of-word' }
          { label: 'Delete to Previous Word Boundary', command: 'editor:delete-to-previous-word-boundary' }
          { label: 'Delete to Next Word Boundary', command: 'editor:delete-to-next-word-boundary' }
          { label: '&Eliminar Linea', command: 'editor:delete-line' }
          { type: 'separator' }
          { label: '&Transponer', command: 'editor:transpose' }
        ]
      }
      {
        label: 'Plegable',
        submenu: [
          { label: '&Plegar', command: 'editor:fold-current-row' }
          { label: '&Desplegar', command: 'editor:unfold-current-row' }
          { label: 'Pligar Todo', command: 'editor:fold-all' }
          { label: 'Desplegar Todo', command: 'editor:unfold-all' }
          { type: 'separator' }
          { label: 'Nivel de plegado 1', command: 'editor:fold-at-indent-level-1' }
          { label: 'Nivel de plegado 2', command: 'editor:fold-at-indent-level-2' }
          { label: 'Nivel de plegado 3', command: 'editor:fold-at-indent-level-3' }
          { label: 'Nivel de plegado 4', command: 'editor:fold-at-indent-level-4' }
          { label: 'Nivel de plegado 5', command: 'editor:fold-at-indent-level-5' }
          { label: 'Nivel de plegado 6', command: 'editor:fold-at-indent-level-6' }
          { label: 'Nivel de plegado 7', command: 'editor:fold-at-indent-level-7' }
          { label: 'Nivel de plegado 8', command: 'editor:fold-at-indent-level-8' }
          { label: 'Nivel de plegado 9', command: 'editor:fold-at-indent-level-9' }
        ]
      }
      { type: 'separator' }
      { label: '&Preferencias', command: 'application:show-settings' }
      { type: 'separator' }
      { label: 'Configuracion…', command: 'application:open-your-config' }
      { label: 'Init Script…', command: 'application:open-your-init-script' }
      { label: 'Mapa de Teclado…', command: 'application:open-your-keymap' }
      { label: 'Fragmentos…', command: 'application:open-your-snippets' }
      { label: 'Hoja de Estilo…', command: 'application:open-your-stylesheet' }
      { type: 'separator' }
    ]
  }

  {
    label: '&Ver'
    submenu: [
      { label: 'Pantalla Completa', command: 'window:toggle-full-screen' }
      { label: 'Toggle Menu Bar', command: 'window:toggle-menu-bar' }
      {
        label: 'Paneles'
        submenu: [
          { label: 'Dividir Panel', command: 'pane:split-up-and-copy-active-item' }
          { label: 'Dividir Abajo', command: 'pane:split-down-and-copy-active-item' }
          { label: 'Dividir a la Izquierda', command: 'pane:split-left-and-copy-active-item' }
          { label: 'Dividir a la Derecha', command: 'pane:split-right-and-copy-active-item' }
          { type: 'separator' }
          { label: 'Enfocar Siguiente Panel', command: 'window:focus-next-pane' }
          { label: 'Enfocar Panel Anterior', command: 'window:focus-previous-pane' }
          { type: 'separator' }
          { label: 'Focus Pane Above', command: 'window:focus-pane-above' }
          { label: 'Focus Pane Below', command: 'window:focus-pane-below' }
          { label: 'Focus Pane On Left', command: 'window:focus-pane-on-left' }
          { label: 'Focus Pane On Right', command: 'window:focus-pane-on-right' }
          { type: 'separator' }
          { label: 'Cerrar Panel', command: 'pane:close' }
        ]
      }
      {
        label: 'Desarrollador'
        submenu: [
          { label: 'Abrir En Modo Dev…', command: 'application:open-dev' }
          { label: '&Recargar Ventana', command: 'window:reload' }
          { label: 'Ejecutar Especificaciones del Paquete', command: 'window:run-package-specs' }
          { label: 'Run &Benchmarks', command: 'window:run-benchmarks' }
          { label: 'Herramientas de Desarrollo', command: 'window:toggle-dev-tools' }
        ]
      }
      { type: 'separator' }
      { label: '&Aumentar tamaño de fuente', command: 'window:increase-font-size' }
      { label: '&Disminuir tamaño de fuente', command: 'window:decrease-font-size' }
      { label: 'Restablecer tamaño de fuente', command: 'window:reset-font-size' }
      { type: 'separator' }
      { label: 'Alternar soft Wrap', command: 'editor:toggle-soft-wrap' }
    ]
  }

  {
    label: '&Seleccion'
    submenu: [
      { label: 'Agregar selección Arriba', command: 'editor:add-selection-above' }
      { label: 'Agregar selección Abajo', command: 'editor:add-selection-below' }
      { label: 'S&plit into Lines', command: 'editor:split-selections-into-lines'}
      { label: 'Selección Individual', command: 'editor:consolidate-selections'}
      { type: 'separator' }
      { label: 'Seleccionar para Arriba', command: 'core:select-to-top' }
      { label: 'Seleccionar hacia abajo', command: 'core:select-to-bottom' }
      { type: 'separator' }
      { label: 'Seleccionar Línea', command: 'editor:select-line' }
      { label: 'Seleccionar Palabra', command: 'editor:select-word' }
      { label: 'Seleccionar al comienzo de la Palabra', command: 'editor:select-to-beginning-of-word' }
      { label: 'Seleccionar comienzo de la Línea', command: 'editor:select-to-beginning-of-line' }
      { label: 'Seleccionar primer carácter de la Línea', command: 'editor:select-to-first-character-of-line' }
      { label: 'Seleccionar hasta el final de la Palabra', command: 'editor:select-to-end-of-word' }
      { label: 'Seleccionar hasta el final de la Línea', command: 'editor:select-to-end-of-line' }
    ]
  }

  {
    label: 'Buscar'
    submenu: []
  }

  {
    label: '&Paquetes'
    submenu: []
  }

  {
    label: '&Ayuda'
    submenu: [
      { label: 'Ver Terminos de Uso', command: 'application:open-terms-of-use' }
      { label: 'Ver Licencia', command: 'application:open-license' }
      { label: "VERSION", enabled: false }
      { type: 'separator' }
      { label: '&Documentacion', command: 'application:open-documentation' }
      { label: 'Preguntas Frecuentes', command: 'application:open-faq' }
      { type: 'separator' }
      { label: 'Discusiones de la Comunidad', command: 'application:open-discussions' }
      { label: 'Informe de Problemas', command: 'application:report-issue' }
      { label: 'Buscar Problema', command: 'application:search-issues' }
      { type: 'separator' }
      { label: 'Acerca de Atom', command: 'application:about' }
      { type: 'separator' }
    ]
  }
]

'context-menu':
  'atom-text-editor, .overlayer': [
    {label: 'Deshacer', command: 'core:undo'}
    {label: 'Rehacer', command: 'core:redo'}
    {type: 'separator'}
    {label: 'Cortar', command: 'core:cut'}
    {label: 'Copiar', command: 'core:copy'}
    {label: 'Pegar', command: 'core:paste'}
    {label: 'Borrar', command: 'core:delete'}
    {label: 'Seleccionar Todo', command: 'core:select-all'}
    {type: 'separator'}
    {label: 'Dividir Panel', command: 'pane:split-up-and-copy-active-item'}
    {label: 'Dividir Panel Hacia Abajo', command: 'pane:split-down-and-copy-active-item'}
    {label: 'Dividir Panel a la Izquierda', command: 'pane:split-left-and-copy-active-item'}
    {label: 'Dividir Panel a la Derecha', command: 'pane:split-right-and-copy-active-item'}
    {label: 'Cerrar Panel', command: 'pane:close'}
    {type: 'separator'}
  ]
  'atom-pane': [
    {type: 'separator'}
    {label: 'Dividir Panel', command: 'pane:split-up-and-copy-active-item'}
    {label: 'Dividir Panel Hacia Abajo', command: 'pane:split-down-and-copy-active-item'}
    {label: 'Dividir Panel a la Izquierda', command: 'pane:split-left-and-copy-active-item'}
    {label: 'Dividir Panel a la Derecha', command: 'pane:split-right-and-copy-active-item'}
    {label: 'Cerrar Panel', command: 'pane:close'}
    {type: 'separator'}
  ]
